
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}

/* start variable */

:root {
    --main-color: #10cab7;
    --sec-color: #2c4755;
    --padding: 50px;
    --margin-top: 80px;
}

/* end variable */

/* start header */

.header {
    padding: 10px;
    height: 45px;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header .container .logo {
    width: 65px;
    height: 25px;
}

.header .container .links {
    position: relative;
}

.header .container .links .icon {
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
}

.header .container .links:hover .icon div:nth-child(2){
    width: 100%;
}

.header .container .links .icon div {
    background-color: #333;
    height: 2px;
}

.header .container .links .icon div:first-child {
    width: 100%;
}
.header .container .links .icon div:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
.header .container .links .icon div:last-child {
    width: 100%;
}

.header .container .links ul {
    margin-top: 35px;
    list-style: none;
    background-color: #eee;
    width: 200px;
    padding: 0;
    position: relative;
    display: none;
    transition: 0.3s;
    z-index: 1;
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #eee transparent;
    bottom: 100%;
    right: 5px;
}

.header .container .links ul li {
    padding: 15px;
    transition: 0.3s;
}

.header .container .links ul li:hover {
    padding-left: 30px;
    background-color: #ddd;
}

.header .container .links ul li a {
    list-style: none;
    text-decoration: none;
    color: #333;
}

.header .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

/* end header */

/* Start landing */

.landing {
    background-image: url(../imgs/686998.webp);
    background-size: cover;
    height: calc(100vh - 45px);
    position: relative;
}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 100%;
    text-align: center;
}

.landing .text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: 600;
    font-size: 50px;
}

.landing .text p {
    font-size: 15px;
    line-height: 25px;
}

/* End landing */

/* start features */

.features {
    background-color: #f6f6f6;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 30px;
    margin-top: 20px;
}

.features .container .feat {
    text-align: center;
    line-height: 1.6;
    transition: 0.3s;
}

.features .container .feat i {
    color: var(--main-color);
    margin-bottom: 20px;
}

.features .container .feat h3 {
    font-size: 20px;
    font-weight: 800;
    color: #2c4755;
}

.features .container .feat p {
    color: #575757;
    font-size: 15px;
    line-height: 1.8;
}

.features .container .feat:hover {
    box-shadow: 4px 4px 2px #ebeced;
}

/* end features */

/* start services */

.heading {
    color: #ebeced;
    font-weight: 800;
    font-size: 160px;
    letter-spacing: -8px;
    text-align: center;
    margin: 0;
}


.heading + p {
    color: #575757;
    font-size: 25px;
    text-align: center;
    margin-top: -60px;
}

@media (max-width: 768px) {
    .heading {
        font-size: 80px;
    }
    .heading + p {
        margin-top: -30px;
        font-size: 15px;
    }
    .services .content .col .srv {
        text-align: center;
        flex-direction: column;
    }
    .services .content .col p {
        text-align: center;
    }
}

.services {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 30px;
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-top);
}

.services .content .col {
    display: flex;
    gap: 30px 30px;
    flex-wrap: wrap;
}

.services .content .col .srv {
    display: flex;
    gap: 30px 30px;
}

.services .content .col i {
    color: var(--main-color);
}

.services .content .col h3 {
    color: #1f2021;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.services .content .col p {
    color: #4d4c4c;
    font-size: 15px;
    line-height: 1.6;
}

.services .content .shape {
    background-color: #eee;
    height: 330px;
    width: 300px;
    position: relative;
}

.services .content .shape::before {
    content: "";
    background-color: var(--sec-color);
    height: calc(100% + 100px);
    width: 100px;
    position: absolute;
    left: 80%;
    z-index: -1;
    top: -50px;
}

@media (max-width: 1199px) {
    .services .content .shape {
        display: none;
    }
}

/* end services */

/* start portfolio */

.portfolio {
    background-color: #f6f6f6;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 30px;
    margin-top: var(--margin-top);
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 10px;
}

.portfolio .portfolio-content .card h3 {
    color: #1f2021;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.portfolio .portfolio-content .card p {
    color: #4d4c4c;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
}

/* end portfolio */

/* start about */

.about {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.about .about-content {
    display: flex;
    margin-top: calc(var(--margin-top) + 50px);
    justify-content: space-between;
    gap: 200px;
}


.about .about-content .col img {
    height: 300px;
    width: 270px;
} 


.about .about-content .col .img {
    position: relative;
}

.about .about-content .col .img::after {
    content: "";
    position: absolute;
    width: 30%;
    height: calc(100% + 80px);
    background-color: #f6f6f6;
    top: -40px;
    left: -5px;
    z-index: -1;
}

.about .about-content .col .img::before {
    content: "";
    width: 40%;
    height: 70%;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    position: absolute;
    right: -140px;
    top: -20px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
    }
    .about .about-content .col .img::after {
        display: none;
    }
    .about .about-content .col .img::before {
        display: none;
    }
    .about .about-content .col img {
        max-width: 100%;
    }
}

.about .about-content .col p:first-child {
    color: #334752;
    font-size: 20px;
    line-height: 2;
    font-weight: 800;
    margin: 0 auto 50px;
}

.about .about-content .col .text hr {
    background-color: var(--main-color);
    height: 2px;
    width: 50%;
    display: inline-block;
    border: none;
}

.about .about-content .col p:last-child {
    color: #575757;
    font-size: 15px;
    line-height: 2;
}

/* end about */

/* start contact */

.contact {
    background-color: #f6f6f6;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.contact .info {
    margin-top: var(--margin-top);
    text-align: center;
}

.contact .info .mal {
    color: var(--sec-color);
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
}

.contact .info a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: -2px;
}

.contact .info .icon {
    margin-top: 20px;
}

.contact .info .icon .pi {
    display: inline-block;
    color: #575757;
    font-size: 12px;
}

.contact .info .icon i {
    color: var(--sec-color);
    margin-left: 10px;
}

@media (max-width: 479px) {
    .contact .info .mal {
        font-size: 25px;
    }
    .contact .info a {
        font-size: 25px;
    }
}

/* end contact */


/* start footar */

.footer {
    background-color: var(--sec-color);
    color: white;
    text-align: center;
    font-weight: 800;
    padding: 20px;
    font-size: 15px;
}

.footer span {
    color: var(--main-color);
}


/* end footar */
